@{
    ViewBag.Title = "Todos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos</h2>

<input type="button" value="Novo"/>
<div class="container">
    <div class="">

    </div>
    <div class="row">

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/App/Requisicao.js"></script>
}