@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a id="linkLogout" href="">Sair</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Criar Conta", "Register", "ManageAccount", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "ManageAccount", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script>
    $(document).ready(function () {
        var nomeToken = 'token';

        $('#linkLogout').click(function logout() {
            console.log('sair');
            sessionStorage.removeItem(nomeToken);
            window.location.replace('http://localhost:1766/');
        });
    });
</script>